<h2 id="page-title" class="text-center text-white d-none d-lg-inline-block">
  Library of Gongolierium<br />Drivetrain Modules
</h2>
<div class="row h-100">
  <div class="col-5 col-lg-4 h-100 bg-white">
    <app-module-list
      (selectedChanged)="selectedModule = $event"
    ></app-module-list>
  </div>

  <div class="col-lg-4 bg-dark d-none d-lg-block">
    <app-drivetrain [module]="selectedModule"></app-drivetrain>
  </div>

  <div class="col-7 col-lg-4 h-100 bg-white">
    <app-drivetrain-module-details
      [module]="selectedModule"
    ></app-drivetrain-module-details>
  </div>
</div>
